:root {
    /* Fonts */
    --Oswald: 'Oswald', sans-serif;
    --CutiveMono: 'Cutive Mono', monospace;
    /* Colors */
    --background-color: #1a1a1a;
    --gray: #565656;
    --font-color: #f9f9f9;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}
/* == Nav Bar == */
.nav {
    font-family: var(--Oswald);
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    row-gap: 20px;
    column-gap: 20px;
    letter-spacing: .2rem;
}
@media (max-width: 1024px) {
    .nav {
        justify-content: center;
    }
    .nav-list {
        margin: 2rem;
    }
}
.nav-list > li > a {
    font-size: 16px;
    text-decoration: none;
    line-height: 10px;
    margin-right: 10px;
}
.nav-list > li > a:hover {
    color: var(--font-color);
    border-bottom: 1px solid var(--font-color);
}
.address, a, a:visited, a:active {
    color: var(--font-color);
    text-decoration: none;
}
/* == Menu Bar Toggle == */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    align-items: flex-start;
    position: absolute;
    left: 10px;
    text-align: left;
    padding: 10px;
    transition: transform 0.4s;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: var(--font-color);
    margin: 3px 0;
    transition: transform 0.4s;
}
/* Make the Toggle Cool */
.menu-toggle.active {
    transform: rotate(45deg);
}
.menu-toggle.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(0deg);
}
.menu-toggle.active .bar:nth-child(2) {
    transform: rotate(85deg);
}
.menu-toggle.active .bar:nth-child(3) {
    transform: translateY(-6px) rotate(0deg);
}
.nav-list.right {
    text-transform: none;
}
@media (max-width: 800px) {
    .nav {
        display: inline-block;
    }
    .nav-list.left {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 60px;
        left: 10px;
        background-color: transparent;
        width: 100%;
        text-align: left;
        padding: 10px;
        z-index: 0;
    }
    .nav-list.right {
        text-align: center;
        margin: 2rem;
        text-align: center;
        padding: 2px 60px;
    }

    .nav-list.left.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
        margin: 1.5rem 2rem;
    }

    .nav-list.left.active .bar {
        background-color: transparent;
    }
}
footer {
    color: var(--background-color);
}