:root {
        /*  Fonts */
        --Oswald: 'Oswald', sans-serif;
        /* 21px = Body; 16px = footer */
        --CutiveMono: 'Cutive Mono', monospace;
        /*  Colors */
        /* --background-color: #f9f9f9;
        --gray: #565656;
        --font-color: #1a1a1a; */
}
/* == Nav Bar == */
.nav {
    font-family: var(--Oswald);
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end left;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background: var(--main-red); */
    /* box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4); */
    /* z-index: 10; */
}

.nav-list {
    display: flex;
    list-style-type: none;
}

@media (max-width: 28.75em) {
    .nav {
        justify-content: center;
    }

    .nav-list {
        margin: 0 1rem;
    }
}

.nav-list a {
    display: block;
    font-size: 16px;
    padding: 1rem;
    text-decoration: none;
}

.nav-list a:hover {
    background: var(--main-blue);
}

body {
    /* background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg); */
    font-family: var(--CutiveMono);
    padding: 20px;
}

h1 {
    font-family: var(--Oswald);
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

h2 {
    font-size: 30px;
}

.established {
    font-style: italic;
}

h1, h2, p {
    text-align: center;
}

.menu {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
}

hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
}

.bottom-line {
    margin-top: 25px;
}

h1, h2 {
    font-family: Impact, serif;
}

.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.flavor, .dessert {
    text-align: left;
    width: 75%;
}

.price {
    text-align: right;
    width: 25%;
}

/* FOOTER */
footer {
    font-size: 14px;
}

.address {
    margin-bottom: 5px;
}

a {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: brown;
}

a:active {
    color: brown;
}