:root {
    /* Fonts */
    --Oswald: 'Oswald', sans-serif;
    --CutiveMono: 'Cutive Mono', monospace;
    /* Colors */
    --background-color: #1a1a1a;
    --gray: #565656;
    --font-color: #f9f9f9;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

body {
    background-color: var(--background-color);
    /* Change later to a more coffee theme */
    /* background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg); */
    font-family: var(--Oswald);
    padding: 20px;
    color: var(--font-color);
}
p {
    font-family: var(--CutiveMono);
}

@media (max-width: 1024px) {
    body {
        background-image: none;
        background-color: var(--background-color);
    }
}

/* == Nav Bar == */
.nav {
    font-family: var(--Oswald);
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    row-gap: 20px;
    column-gap: 20px;
    letter-spacing: .2rem;
}

@media (max-width: 1024px) {
    .nav {
        justify-content: center;
    }
    .nav-list {
        margin: 2rem;
    }
}

.nav-list > li > a {
    font-size: 16px;
    text-decoration: none;
    line-height: 10px;
    margin-right: 10px;
}

.nav-list > li > a:hover {
    color: var(--font-color);
    border-bottom: 1px solid var(--font-color);
}

/* == Menu Bar Toggle == */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    align-items: flex-start;
    position: absolute;
    left: 10px;
    text-align: left;
    padding: 10px;
    transition: transform 0.4s;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: var(--font-color);
    margin: 3px 0;
    transition: transform 0.4s;
}

/* Make the Toggle Cool */
.menu-toggle.active {
    transform: rotate(45deg);
}
.menu-toggle.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(0deg);
}
.menu-toggle.active .bar:nth-child(2) {
    transform: rotate(85deg);
}
.menu-toggle.active .bar:nth-child(3) {
    transform: translateY(-6px) rotate(0deg);
}

@media (max-width: 800px) {
    .nav-list.left {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 60px;
        left: 10px;
        background-color: var(--background-color);
        width: 100%;
        text-align: left;
        padding: 10px;
    }
    .nav-list.right {
        margin: 2rem;
    }

    .nav-list.left.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
        margin: 1.5rem 2rem;
    }

    .nav-list.left.active .bar {
        background-color: transparent;
    }
}

/* == Body == */
h1, .statement {
    position: fixed;
    bottom: 0;

    text-transform: uppercase;
    font-weight: 600;
    font-size: 70px;
    letter-spacing: .2rem;
    margin-top: 0;
    margin-bottom: 15px;
}
@media (max-width: 800px) {
    h1, .statement {
        position: fixed;
        top: 100px;
        text-align: center;
        word-break: keep-all;
    }
}


/* h2 {
    font-size: 30px;
}

.established {
    font-style: italic;
}

h1, h2, p {
    text-align: center;
}

.menu {
    width: 80%;
    background-color: burlywood;
    margin: 0 auto;
    padding: 20px;
    max-width: 500px;
}

img {
    display: block;
    margin: -25px auto 0;
}

hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
}

.bottom-line {
    margin-top: 25px;
}

.item p {
    display: inline-block;
    margin: 5px 0;
    font-size: 18px;
}

.flavor, .dessert {
    text-align: left;
    width: 75%;
}

.price {
    text-align: right;
    width: 25%;
} */

/* FOOTER */
/* footer {
    font-size: 14px;
} */

.address, a, a:visited, a:hover, a:active {
    color: var(--font-color);
    text-decoration: none;
}
